<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testform</title>
{#    <link rel="stylesheet" href="/static/local_css.css" />#}
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
url name = [{% url 'testform' %}]<br>
<div id="testform">
    <form method='post' onsubmit="return false;" class="form-group" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="等于" id="submit">
    </form>
</div>
<div id="result">None</div>

<script>
    $(document).ready(function(){
        $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            $('#submit').click(function(){
                var id_a = $("#id_a").val();
                var id_b = $("#id_b").val();
                var id_c = $("#id_c").val();
                $.ajax({
                    url: "{% url 'testfrom_add' %}",
                    type:"POST",
                    crossDomain:true,
                    xhrFields:{withCredentials:true},
                    data: {a:id_a, b:id_b, c:id_c},
                    cache: false,
{#                    dataType: "html"#}
                }).done(function(data){
                        $('#result').html(data);})
                    });
                });
    </script>
</body>
</html>