/*.center-block{*/
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/
#testform{
    float: left;
}

#result{
    /*float: left;*/
    margin:auto auto;
    height: 30px;
    text-align:center;
}
