{% extends 'base.html' %}
{% block title %}Ajax{% endblock %}
{% block body_1 %}
    <form method="post" id="formadd" href="/ajax" onsubmit="return false;">
        {% csrf_token %}
        <label for="input_01">Shell</label>
        <input type="text" id="input_01" placeholder="shell" autofocus="autofocus" value="ls"/>
        <label for = "input_02">密码</label>
        <input type="password" id="input_02" placeholder="不填也行其实"/>
        <input type="submit" id="submit" value="=*=戳我=*=">
    </form>
    <div id="ajax_req">
        看见我就糟了
    </div>

    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            $('#submit').click(function(){
                var shell = $("#input_01").val();
                var password = $("#input_02").val();
                $.ajax({
                    url: "{% url 'ajax_action' %}",
                    type:"POST",
                    crossDomain:true,
                    xhrFields:{withCredentials:true},
                    data: {shell:shell, password:password},
                    cache: false,
{#                    dataType: "html"#}
                    }).done(function(ajax_req){
                        $('#ajax_req').html(ajax_req)
                                .css({backgroundColor: "#66ffcc",
                                width:"400px"})
                    });
                });
            });
    </script>

{% endblock %}