<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %} - Acfun</title>
{#    <link rel="stylesheet" type="text/css" href="/static_all/common_css.css" />#}
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
{#    <link rel="stylesheet" href="/static_all/bootstrap-theme.min.css" />#}
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
{#    <h1 class="text-center">=======我是通栏======</h1>#}
    <div class="well well-sm">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/ajax">Ajax</a></li>
            <li><a href="#">Docs</a></li>
        </ul>
    </div>

    {% block body_1 %}
{#        默认名字叫body#}
        <div>block body(in base:body)</div>
    {% endblock %}
    {% block fresh %}
        <div>
            <input id="bt1" type="button" onclick="javascript:location.reload();" value="怼我以刷新哦" class="btn btn-xs btn-info">
        </div></br>
    {% endblock %}
</body>
</html>